# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [5]:
#計算每個不同種類 animal 的 age 的平均數
df.groupby('animal')['age'].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [7]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(by = ['age', 'visits'], ascending = [True, False])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [8]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df['priority'].replace({'no' : False, 'yes' : True})

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [13]:
df = pd.DataFrame(np.random.random(size = (5, 3)))
df

          0         1         2
0  0.500812  0.829599  0.924107
1  0.337551  0.453717  0.802383
2  0.726191  0.609731  0.792735
3  0.876763  0.311936  0.577931
4  0.536072  0.304079  0.306805

In [14]:
df1 = df - df.mean()
df1

          0         1         2
0 -0.094666  0.327787  0.243315
1 -0.257927 -0.048095  0.121591
2  0.130714  0.107918  0.111943
3  0.281285 -0.189877 -0.102861
4 -0.059406 -0.197733 -0.373987

In [16]:
df2 = df.sub(df.mean(axis=1) ,axis=0)
df2

          0         1         2
0 -0.250694  0.078093  0.172601
1 -0.193666 -0.077500  0.271166
2  0.016639 -0.099822  0.083182
3  0.287886 -0.276941 -0.010945
4  0.153753 -0.078239 -0.075514

### 3. 承上題，請問：

1) 哪一筆的資料總合最小
2) 哪一欄位的資料總合最小

In [17]:
df

          0         1         2
0  0.500812  0.829599  0.924107
1  0.337551  0.453717  0.802383
2  0.726191  0.609731  0.792735
3  0.876763  0.311936  0.577931
4  0.536072  0.304079  0.306805

In [18]:
df.sum().argmax()

2

In [21]:
df.sum(axis=1).argmax()

0