## 今天的作業
在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以Titanic_train.csv 中，首先將有遺失值的數值刪除，我們取 Titanic_train.csv 的年齡資料，試著將課堂中所學的方法應用上去。

* Q1: 產生一個新的變數(Age_above65_) Age>=65為 'Y'，其餘為'N'。  
* Q2: 添加女性和男性，產生一個新的變數(Age_above65_female)，女性或Age>=65為'Y'，其餘為'N'。  
*  Q3: 透過昨天課程的內容，驗證產生的兩個新變數，哪一個和目標變數(Survived_cate)的相關性較高?

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display
import sklearn
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 100)

import pingouin as pg
import researchpy

## 讀入資料

In [4]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [8]:
df_train['Survived_cate'] = df_train['Survived']
df_train['Survived_cate'] = df_train['Survived_cate'].astype('object')
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Name           891 non-null    object
 4   Sex            891 non-null    object
 5   Age            714 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Fare           891 non-null    float64
 10  Cabin          204 non-null    object
 11  Embarked       889 non-null    object
 12  Survived_cate  891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
None

In [11]:
#刪除缺失值
complete_data = df_train[['Age','Survived_cate','Sex']].dropna()
complete_data.head()

    Age Survived_cate     Sex
0  22.0             0    male
1  38.0             1  female
2  26.0             1  female
3  35.0             1  female
4  35.0             0    male

### Q1: 產生一個新的變數(Age_above65_) Age>=65為 'Y'，其餘為'N'。

In [14]:
def age_map1(x): 
        if(x >= 65):
            return('Y')
        else: 
            return('N')
    
complete_data['Age_above65'] = complete_data['Age'].apply(age_map1)
complete_data.head()

    Age Survived_cate     Sex Age_above65
0  22.0             0    male           N
1  38.0             1  female           N
2  26.0             1  female           N
3  35.0             1  female           N
4  35.0             0    male           N

### Q2: 添加女性和男性，產生一個新的變數(Age_above65_female)，女性或Age>=65為'Y'，其餘為'N'。

In [18]:
def age_map2(row): 
    if (row.Sex == 'female'):
        return('Y')
    else: 
        if(row.Age >= 65):
            return('Y')
        else:
            return('N')
        
complete_data['Age_above65_female'] = complete_data[['Age','Sex']].apply(age_map2, axis = 1)
complete_data.head()

    Age Survived_cate     Sex Age_above65 Age_above65_female
0  22.0             0    male           N                  N
1  38.0             1  female           N                  Y
2  26.0             1  female           N                  Y
3  35.0             1  female           N                  Y
4  35.0             0    male           N                  N

### Q3: 透過昨天課程的內容，驗證產生的兩個新變數，哪一個和目標變數(Survived_cate)的相關性較高?

In [24]:
#Age_above65
contTable = pd.crosstab(complete_data['Age_above65'], complete_data['Survived_cate'])
contTable
df = min(contTable.shape[0], contTable.shape[1]) - 1
crosstab, res = researchpy.crosstab(complete_data['Survived_cate'], complete_data['Age_above65'], test = 'chi-square')
print("Cramer's value is", res.loc[2, 'results'])

def judgment_CramerV(df,V):
    if df == 1:
        if V < 0.10:
            qual = 'negligible'
        elif V < 0.30:
            qual = 'small'
        elif V < 0.50:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 2:
        if V < 0.07:
            qual = 'negligible'
        elif V < 0.21:
            qual = 'small'
        elif V < 0.35:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 3:
        if V < 0.06:
            qual = 'negligible'
        elif V < 0.17:
            qual = 'small'
        elif V < 0.29:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 4:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.15:
            qual = 'small'
        elif V < 0.25:
            qual = 'medium'
        else:
            qual = 'large'
    else:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.13:
            qual = 'small'
        elif V < 0.22:
            qual = 'medium'
        else:
            qual = 'large'
    return(qual)

judgment_CramerV(df,res.loc[2, 'results'])

Cramer's value is 0.0803

'negligible'

In [29]:
#Age_above65_female
contTable = pd.crosstab(complete_data['Age_above65_female'], complete_data['Survived_cate'])
contTable
df = min(contTable.shape[0], contTable.shape[1]) - 1
crosstab, res = researchpy.crosstab(complete_data['Survived_cate'], complete_data['Age_above65_female'], test = 'chi-square')
print("Cramer's value is", res.loc[2, 'results'])

judgment_CramerV(df, res.loc[2,'results'])

Cramer's value is 0.514

'large'

### Age_above65_female 相關性較高